<nav class="#ffff00 yellow accent-2">
    <div class="nav-wrapper">
      <a href="/" class="brand-logo center black-text">Break It Down</a>     
      <ul class="left hide-on-med-and-down">
        <li><a class="black-text" href="/">Home</a></li>
        <li><a class="black-text" href="/submit">Submit</a></li>
        <li><a class="black-text" href="/login">Login</a></li> 
      </ul> 
   </div>
  </nav>
<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Example</h5>
          <p>
            <strong>ID</strong>: {{example.id}}</p>
          <p>
          <p>
            <strong>Text</strong>: {{example.title}}</p>
          <p>
            <strong>Description:</strong> {{example.description}}</p>
            <a href="/">← Back To Home</a>
        </div>
      </div>
    </div>
  </div>
</div>
