<div class="row" id="header">

    <div class="col-4" id="brand">
        <h1>Breakdown</h1>
    </div>
   
</div>
<hr>
<div class="row">
    <div class="col-8">
        <div id="addIdeas">
            <h2>Add your ideas</h2>
            
			<form action="#">
                <span>Title</span><br>
                <input id="title" type="text">
                <br>
                <span>Description</span><br>
                <input id="description" type="text">
                <br>
                <span>Technology Used</span><br>
                <input id="technology" type="text">
                <br>
                <span>User Story</span><br>
                <input id="userStory" type="text">
                <br>
                <input id="submit" type="submit" value="Submit">
            </form>
        </div>
    </div>

    
</div>