.list-group-item {
  line-height: 2.5;
}

.container{
  box-shadow: 5px 5px 5px #888;
  padding: 10px;
  background: white;
  margin-bottom: 25px;
}
body{
  background-color: #112631;
}
label{
  font-size: 14px;
}
nav{
  margin-bottom: 15px;
}